.top {grid-area: top;}
.left {grid-area: left;}
.right {grid-area: right;}

body {
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    overflow: hidden;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas: 
    'top top top top top top'
    'left left left right right right';
    column-gap: 0;
    font-family: 'Karla', sans-serif;
    border-radius: 1rem;
    box-sizing: border-box;
}
:root {
    --cyan : hsl(179, 62%, 43%);
    --difcyan : hsla(179, 62%, 47%, 1);
    --brightyellow : hsl(71, 73%, 54%);
    --light-gray : hsl(204, 43%, 93%);
    --grayish-blue : hsl(218, 22%, 67%);

}
.top {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 1.5rem 2.5rem;
    width: 40rem;
    box-sizing: border-box;
}
.top h2 {
    color: var(--cyan);
    margin-top: 0;
}
.topp1 {
    color: var(--brightyellow);
    font-weight: 400;
}
.top :last-child {
    color: var(--grayish-blue);
}
.left {
    background-color: var(--cyan);
    color: var(--light-gray);
    border-radius: 0 0 0 1rem;
    padding: 1.5rem 2.5rem;
    width: 20rem;
    box-sizing: border-box;
}
.money{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 10px;
    opacity: 1;
}
.pm {
    opacity: 0.5;
}
.right {
    background-color: var(--difcyan);
    color: var(--light-gray);
    border-radius: 0 0 1rem 0;
    padding: 1.5rem 2.5rem;
    width: 20rem;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    max-height: 2.5rem;
}
.signup {
    border: none;
    width: 15rem;
    color: var(--light-gray);
    background-color: var(--brightyellow);
    height: 3rem;
    border-radius: 0.4rem;
    font-size: large;
}

@media only screen and (max-width: 900px) {
    body {
        margin: 10rem;
    }
    main {
        display: grid;
        grid-template-areas:
            'top top top top top top'
            'left left left left left left'
            'right right right right right right';
        column-gap: 0;
    }
    .top {
        width: 20rem;
    }
    .left {
        border-radius: 0;
    }
    .right {
        border-radius: 0 0 1rem 1rem;
    }
}